/* * {
    margin: 0;
    padding: 0;
} */
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
header {
    width: 100%;
    height: 60px;
}
header nav {
    display: flex;
    justify-content: flex-end;
}
header nav .nav-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav .nav-section a {
    margin-right: 10px;
    color: #000000;
}
nav .nav-section .menu-icon {
    background-image: url(https://static.thenounproject.com/png/756729-200.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin: 0 8px;
}
nav .nav-section img {
    width: 32px;
    border-radius: 50%;
    margin-left: 10px;
}
main {
    margin-top: 96px;
    text-align: center;
}
main .main-logo {
    width: 272px;
    height: 92px;
    margin: 0 auto;
    margin-bottom: 28px;
}
main .main-input {
    width: 580px;
    margin: 0 auto;
    margin-bottom: 18px;
}
main .main-input-container {
    width: 580px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input input {
    width: 500px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 15px;
}
main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input .search-icon {
    background-image: url(https://i.ibb.co/4JmGgs4/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 15px;
    height: 15px;
    /* margin-right: 5px; */
}
main .main-input .micro-icon {
    background-image: url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
main .main-buttons {
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div {
    display: inline-block;
}
main .main-buttons button {
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    cursor: pointer;
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
    padding: 0 16px;
    margin: 11px 4px;
    /* line-height: 27; */
}
main .main-buttons button:hover {
    border: 1px solid #DADCE0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    color: #202124;
    background-color: #f8f9fA;
    background-image: -webkit-linear-gradient(top, #F8F9FA #F8F9FA);
}
footer {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 14px;
    background-color: #F2F2F2;
    border-top: 1px solid #e4e4e4;
}
footer ul {
    margin: 0 20px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .footer-left {
    justify-self: left;
}
footer .footer-right {
    justify-self: right;
}
footer ul li a {
    margin: 10px;
    color: #70757A;
}
.extra {
    background-color: #f2f2f2;
    width: 100%;
    height: 42px;
    position: absolute;
    bottom: 40px;
    border-top: 1px solid #E4E4E4;
    display: flex;
    align-items: center;
}
.extra a {
    color: #70757A;
    font-size: 15px;
    margin-left: 30px;
}
